.content {
    width: 100%;
    height: 50vw;
    position: relative;
    background: linear-gradient(to bottom, #37E7FD, #3BAFEE);
    box-shadow: 0 0 6px #d8d8d8;
    .header{
        width: 100%;
        height: 50vw;
        .profile-picture{
            width: 50vw;
            height: 100%;
            padding: 0;
            img{
                width: 100%;
            }
        }
        .text-box{
            width: 
            display: flex;
            justify-content: left;
            align-items: center;
            .text{
                font-size: 6vw;
            }
            .name{
                font-size: 4vw;
            }
        }
        .close-button{

        }
    }
  }