.content {
  width: 100%;
  height: 50vw;
  position: relative;
  background: linear-gradient(to bottom, #37e7fd, #3bafee);
  box-shadow: 0 0 6px #d8d8d8;
  .header {
    width: 100%;
    display: flex;
    .profile-picture {
      width: 25vw;
      height: 25vw;
      padding: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    .text-box {
      width: 100%;
      height: 25vw;
      padding: 5vw 0;
      color: white;
      .text {
        font-size: 6vw;
      }
      .name {
        font-size: 4vw;
      }
    }
    .close-button {
      width: 25vw;
      height: 25vw;
      padding: 6vw;
      img {
        width: 100%;
      }
    }
  }
}
