.content {
    width: 100%;
    height: auto;
    position: relative;
    top: 43vw;
    border-radius: 20px;
    background-color: 
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw 0;
    box-shadow: 0 0 6px #d8d8d8;
  }