.header-bar{
    width: 100%;
    position: relative;
    background-color: #1DC1F4;
    flex-direction: row;align-items: center;
    display: flex;
    .back-box{
        width: 15vw;
        padding: 5vw;
        img{
            width: 100%;
        }
    }
    .text{
        flex: 1;
        
    }
}