.header-bar{
    width: 100%;
    position: relative;
    background-color: #1DC1F4;
    flex-direction: row;
    display: flex;
    .back-box{
        width: 20vw;
        padding: vw;
        img{
            width: 100%;
        }
    }
    .text{
        flex: 1;
    }
}