.header-bar{
    width: 100%;
    position: relative;
    background-color: #1DC1F4;
    .back-box{
        width: 20vw;
        display: flex;
        justify-content: center;
        alig
        img{
            width: 100%;
        }
    }
}