<!-- <ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header-bar">
    <div class="back-box">
      <img src="./assets/icon/left-arrow-blue.svg" alt="" (click)="back()">
    </div>
    <div class="profile-image-box">
      <img src="./assets/icon/user-blue.svg" alt="">
    </div>
    <div class="text">
      {{doctorName}}
    </div>
    <div class="back-box">
      <img src="./assets/icon/telephone.svg" alt="">
    </div>
    <div class="back-box">
      <img src="./assets/icon/facetime-button.svg" alt="">
    </div>
  </div>

  <div style="margin: 4vw 4vw 0 4vw">

    <div class="sender-box">
      <div class="time-box">
        19.30
      </div>
      <div class="text-box">
        สวัสดีค่ะคุณหมอ
      </div>
    </div>

    <div class="receiver-box">
      <div class="image-box">
        <img src="./assets/icon/user-blue.svg" alt="">
      </div>

      <div class="text-box">
        สวัสดีครับ
      </div>
      <div class="time-box">
        19.35
      </div>
    </div>



  </div>

</ion-content>

<ion-footer>
  <div class="message-box">
    <div class="message">
      <input class="input-text">
    </div>
    <div class="send-icon">
      <img src="./assets/icon/sent-mail.svg" alt="">
    </div>
  </div>
</ion-footer>