
.content {
  width: 100%;
  height: 50vw;
  position: fixed;
  background: linear-gradient(to bottom, #37e7fd, #3bafee);
  box-shadow: 0 0 6px #d8d8d8;
  .header {
    width: 100%;
    display: flex;
    .profile-picture {
      margin-left: 3vw;
      width: 30vw;
      height: 30vw;
      padding: 3vw;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    .text-box {
      width: 100%;
      height: 30vw;
      padding: 7vw 0;
      color: white;
      .text {
        font-size: 6vw;
      }
      .name {
        font-size: 4vw;
      }
    }
    .close-button {
      padding: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        width: 100%;
      }
    }
  }
}
.cloud {
  width: 100%;
  position: absolute;
  top: 5vw;
  opacity: 1;
  animation: to-right;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  img {
    width: 100%;
  }
}
@keyframes to-right {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.box-content {
  position: relative;
  top: 35vw;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  flex-direction: column;
}
.box {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  transition: 0.5s all;
  .img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .text-box {
    position: absolute;
    width: 100%;
    height: 25vw;
    background-color: rgba(0, 0, 0, 0.34);
    color: white;
    font-size: 5vw;
    bottom: 0;
    padding: 4vw;
    text-align: center;
  }
}
.box:active:hover {
  transform: scale(0.9);
}

.tab {
  margin-top: 5vw;
  position: relative;
  left: -30vw;
  width: 50vw;
  height: 10vw;
  font-size: 4vw;
  background-color: #00b7f3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.slide-top {
  position: relative;
  min-height: 245px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .image-slide {
    .square-box {
      transition: 0.5s all ease;
      position: relative;
      width: 60vw;
      height: 60vw;
      overflow: hidden;
      // background: #4679BD;
      border-radius: 20px;
      padding: 10vw 0 20vw 0;
      margin: 4vw 0;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      img {
        width: 100%;
      }
      .slide-text {
        position: absolute;
        bottom: 0;
        font-size: 4vw;
        width: 100%;
        height: 20vw;
        text-align: left;
        padding: 5vw;
        text-align: center;
      }
    }
    .square-box:active:hover {
      transform: scale(0.9);
    }
  }
}
.tab2 {
  margin-top: 5vw;
  position: relative;
  left: -20vw;
  width: 80vw;
  height: 10vw;
  font-size: 4vw;
  background-color: #00b7f3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.slide-top2 {
  position: relative;
  width: 100%;
  min-height: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  .image-slide {
    // width: 60vw;
    // height: 60vw;
    // overflow: hidden;
    // margin: 6vw 0;
    // padding: 10vw 0 20vw 0;
    // transition: all 0.6s;
    // padding-left: 5vw;
    // background-color: red;
    // width: 100%;
    .square-box {
      transition: 0.5s all ease;
      position: relative;
      width: 60vw;
      height: 60vw;
      overflow: hidden;
      background: #1dc1f4;
      border-radius: 20px;
      padding: 10vw 0 20vw 0;
      margin: 4vw 0;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      img {
        width: 100%;
      }
      .slide-text {
        position: absolute;
        bottom: 0;
        font-size: 4vw;
        width: 100%;
        height: 20vw;
        text-align: left;
        padding: 5vw;
        color: #fff;
      }
    }
    .square-box:active:hover {
      transform: scale(0.9);
    }
  }
}
.consult-text {
  background-color: #beebff;
  width: 100%;
  height: 10vw;
  position: absolute;
  bottom: 0;
  font-size: 4vw;
  text-align: center;
}
