.top-box {
  position: relative;
  width: 100%;
  height: 50vw;
  background-color: gray;
  .img-box {
      display: flex;
      justify-content: center;
      ali
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
